# Data (raw + processed, too large for GitHub)
data/
*.zip
*.csv

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ipynb_checkpoints/

# PyTorch checkpoints
checkpoints/

# OS
Thumbs.db
.DS_Store

# Installers
*.msi
